body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}
.container{
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    color: #f9faf8;
    align-items: center;
    padding: 20px 0px 20px 100px;
    background-color: #1F2937;
}
.links{
    padding-right: 60px;
    display: flex;
    align-items: center;
}
.img{
    height: 70px;
    width: 125px;
    margin-right: auto;
}
.links a{
    padding: 10px;
    font-size: 18px;
    color: #E5E7EB;
    font-family: 'roboto', Arial;
}
.hero{
    display: flex;
    align-items: center;
    padding: 90px;
    justify-content: center;
    color: #E5E7EB;
    background-color: #1F2937;
}
.imghero{
    width: 400px;
    height: 240px;
}
.hero_main_text{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    font-family: 'roboto', Arial;
}
.sec_text{
    font-size: 24px;
    color: #f9faf8;
    font-family: 'roboto', Arial;
    opacity: 0.7;
}
.lefthero button{
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    width: 110px;
    padding: 10px;
}
.lefthero{
    display: flex;
    flex-basis: 400px;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
    align-items: flex-start;
}
.middleimages img{
    width: 200px;
    height: 100px;
    object-fit: cover;
    margin: 5px 20px 0px 20px;
}
.middleimages{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.middleimages div{
    padding: 10px;
}
.middletext{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.middleimages p{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.quote{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 0 200px;
}
.quote p{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Roboto', Arial;
}
.quote b{
    padding-bottom: 20px;
    padding-right: 10px;
    font-family: 'Roboto', arial;
    text-align: right;
}
.signup{
    display: flex;
    background-color: #3882f6;
    margin: 50px 200px;
    padding: 10px 80px;
    align-items: center;
    border-radius: 5px;
}
.signuptext{
    text-align: left;
    flex: 1;
}
.signuptextfirst{
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin: 30px 0px 0px 50px;
    padding: 0;
    color: #fff;
    font-family: 'Roboto', arial;
}
.signuptext p{
    color: #fff;
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
}
.signupbutton{
    flex: 1;
}
.signbutton{
    color: #fff;
    border-color: #fff;
    border-radius: 8px;
    background-color: #3882f6;
    padding: 5px 25px;
    font-size: 15px;
}
.footer{
    background-color: #1F2937;
    color: #fff;
    font-family: 'roboto', arial;
}